* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: red;
}

.food-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  width: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.menu-item:hover {
  transform: scale(1.05);
}

.menu-item img {
  max-width: 100%;
  height: 150px;
  border-radius: 4px;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
}

.menu-item:hover img {
  transform: scale(1.1);
}

.menu-item h2 {
  font-size: 18px;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.menu-item p {
  margin: 5px;
  font-family: sans-serif;
}

.price-button {
  background-color: white;
  color: red;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: auto;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.price-button:hover {
  background-color: red;
  color: white;
}
